body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: calc(100vw - 30px);

  /* background */
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 300px;

  /* card  */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.content__pw {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin: 1rem 0 1rem 0;
  -webkit-backdrop-filter: blur(16px) saturate(180%);

  height: 50px;
  width: 280px;
}

.content__pw-rng {
  color: #fff;
  font-family: "Anton", "Montserrat", sans-serif;
  text-align: center;
  height: 30px;
  width: 300px;
}

label {
  color: aliceblue;
  font: 1rem "Fira Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
}

input {
  margin: 0.4rem;
}

#quantity {
  background-color: rgb(110, 102, 216);
  border-radius: 12px;
  border: 1px solid #582feb20;
  padding-left: 2.5rem;
  font: 1rem "Montserrat";
  margin: 0.5rem 0 0.5rem 0;
  width: 60px;
}

.ckbox {
  display: flex;
  width: 115px;
  justify-content: space-between;
  align-items: baseline;
}

btn__gen {
  width: 80px;
  height: 25px;
}

/* button 'GERAR' effect */

.btn__gen {
  background-color: transparent;
  border: 2px solid #17c3b2;
  color: #08eed7;
  font-size: 12px;
  margin-top: 0.5rem;
  padding: 0.8em 1.8em;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  font-family: inherit;
  z-index: 1;
}

.btn__gen::before {
  background: #17c3b2;
  content: "";
  display: block;
  height: 300%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.5s ease;
  width: 0;
  z-index: -1;
}

.btn__gen:hover::before {
  width: 105%;
}

.btn__gen:hover {
  color: #111;
}

.copy {
  display: none;
}

/* Responsive */
@media (min-width: 270px) and (max-width: 450px) {
  .content {
    width: 300px;
  }

  .content__pw {
    width: 280px;
  }

  #quantity {
    font: 0.8rem "Montserrat";
    margin: 0.5rem 0 0.5rem 0;
    width: 50px;
  }
}

@media (min-width: 1200px) {
  .content {
    width: 500px;
    height: 365px;
  }

  .content__pw {
    width: 450px;
    height: 80px;
  }

  label {
    padding: 0.1rem 0 0.1rem 0;
    font: 1.3rem "Fira Sans", sans-serif;
    font-family: "Montserrat", sans-serif;
  }

  .ckbox {
    width: 155px;
  }

  .content__pw-rng {
    color: #fff;
    font: 1.5rem "Anton";
    font-family: "Anton", "Montserrat", sans-serif;
    text-align: center;
    height: 30px;
    width: 450px;
  }

  #quantity {
    font: 1rem "Montserrat";
    margin: 0.5rem 0 0.5rem 0;
    width: 50px;
  }
}
