body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  /* background */
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  

  /* card  */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  height: 50vh;
  width: 30vw;
}

.content__pw {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  margin: 1rem 0 1rem 0;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  height: 2.5rem;
  width: 18rem;
}

.content__pw-rng {
  color: #fff;
  font-family: 'Anton', 'Montserrat',sans-serif;
  text-align: center;
}

#letras{
  margin-right: 2px;
}

label {
  color: aliceblue;
  font: 1rem "Fira Sans", sans-serif;
}

#quantity{
  justify-content:center;
}

label{
  font-family: 'Montserrat',sans-serif;
}

input {
  margin: 0.4rem;
}

#quantity {
  border-radius: 12px;
  border: 1px solid #582feb20;
  padding-left: 2.5rem;
  background-color: rgb(110, 102, 216)
}

/* É somente um teste. */

button {
  margin-top: 1rem;
  padding: 0.8em 1.8em;
  border: 2px solid #17c3b2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #08eed7;
}

button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17c3b2;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #111;
}
